<% if customer_signed_in? %>
	<div class="btn-group" role="group" aria-label="sign">
		<%= link_to "Signed in as #{current_customer.forename} #{current_customer.surname}", edit_customer_registration_path, :class => "btn btn-success navbar-btn" %>
		<%= link_to "Sign Out", destroy_customer_session_path, { :class => "btn btn-danger navbar-btn", :method => :delete } %>
	</div>
<% elsif admin_signed_in? %>
	<div class="btn-group" role="group" aria-label="sign">
		<%= link_to "Sign Out", destroy_admin_session_path, { :class => "btn btn-danger navbar-btn", :method => :delete } %>
	</div>
<% else %>
	<div class="btn-group" role="group" aria-label="sign">
		<%= link_to "Sign In", new_customer_session_path, class: "btn btn-primary navbar-btn" %>
		<%= link_to "Sign Up", new_customer_registration_path, class: "btn btn-primary navbar-btn" %>
	</div>
<% end %>

