<div class="container">
<%= form_for(@contact_message, html: { class: "form-horizontal center", role: "form" }) do |f| %>
	<% if @contact_message.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@contact_message.errors.count, "error") %> prohibited this contact_message from being saved:</h2>

			<ul>
				<% @contact_message.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field form-group">
		<%= f.label :message, class: 'control-label' %><br>
		<%= f.text_area :message, class: 'form-control' %>
	</div>


	<% if customer_signed_in? %>
		<div class="actions">
			<%= f.submit nil, class: "btn btn-primary" %>
		</div>
	<% else %>
		<div class="btn-group" role="group" aria-label="sign">
			<%= link_to "Sign in to send message", new_customer_session_path, class: "btn btn-primary" %>
			<%= link_to "Sign up to send message", new_customer_registration_path, class: "btn btn-primary" %>
		</div>
	<% end %>
<% end %>
</div>
