<h2>Log in</h2>

<div class="container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal center", role: "form" }) do |f| %>
  <div class="field form-group">
    <%= f.label :email, class: 'control-label' %><br />
    <%= f.email_field :email, autofocus: true, required: true, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :password, class: 'control-label' %><br />
    <%= f.password_field :password, autocomplete: "off", required: true, class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: 'control-label' %>
    </div>
  <% end -%>

  <div class="actions form-group">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
