<div class="row">
	<% @pictures.each do |picture| %>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<a href="/pictures/addToProduct/<%= picture.id %>"><%= image_tag(picture.image_url.to_s, height: '200') %></a>
				<div class="caption">
					<%= picture.image %>
				</div>
			</div>
		</div>
	<% end %>
</div>


<%= link_to 'New Picture', new_picture_path, class: "btn btn-primary" %>
<%= link_to 'Back', new_product_path, class: "btn btn-primary" %>
