<%= form_for @product, html: {class: "form-horizontal center", role: "form"} do |f| %>
	<% if @product.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

			<ul>
				<% @product.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field form-group">
		<%= f.label :name, class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.text_field :name, class: "form-control" %>
		</div>
	</div>
	<div class="field form-group">
		<%= f.label :description, class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.text_area :description, class: "form-control" %>
		</div>
	</div>
	<div class="field form-group">
		<%= f.label :available, class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.number_field :available, class: "form-control" %>
		</div>
	</div>
	<div class="field form-group">
		<%= f.label :price, class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.text_field :price, class: "form-control" %>
		</div>
	</div>



	<% if false %>
	<div id="" style="overflow-y:scroll; overflow-x:hidden; height:400px;">
	<div class="row" >
		<% @pictures.each do |picture| %>
			<div class="col-sm-6 col-md-3">
				<%= check_box_tag "picture_ids[]", picture.id, false, :id => "picture_ids_#{picture.id}" %>
				<div class="thumbnail">
					<div class="caption">
						<%= picture.image %>
						<%= image_tag(picture.image_url.to_s, size: "100x100") %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	</div>
	<% end %>




	<div class="actions form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit nil, class: "btn btn-primary" %>
		</div>
	</div>
<% end %>
