<div class="container">
	<h1>New Product</h1>

	<%= render 'form' %>





	<p>
	<%= link_to 'Add Picture', pictures_path, class: "btn btn-primary" %>
	</p>

	<% if session[:newProductImages] then %>
		<table class="table">
			<% session[:newProductImages].each do |id,quantity| %>
				<% picture = Picture.find_by_id(id) %>
				<tr>
					<td><%= picture.image %></td>
					<td><%= image_tag(picture.image_url.to_s, size: "100x100") %></td>
				</tr>
			<% end %>
		</table>
	<% end %>

	<%= link_to 'Back', products_path, class: "btn btn-primary" %>
</div>
